// Import Google Font - Raleway 300 & 700
@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");

// ===================
// Font and color variables
// ===================

// Fonts
$sans-serif: "Raleway", sans-serif;
$font-light: 300;
$font-bold: 700;

// Colors
$black: #353535;
$gray: #4f4f4f;
$medium-gray: #737373;
$light-gray: #c4c4c4;
$orange: #f96855;

// Semantic color names
$accent: $orange;

$body-background: $black;
$menu-background: $gray;

$main-font-color: $light-gray;
$menu-active-color: $light-gray;
$menu-font-color: $medium-gray;
$link-color: $accent;

// background images
$img1: url("https://images.unsplash.com/photo-1626080308314-d7868286cce2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
$img2: url("https://images.unsplash.com/photo-1530565435120-7f79080ea623?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80");
$img3: url("https://images.unsplash.com/photo-1622190054616-115e3998d2e9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
$img4: url("https://images.unsplash.com/photo-1589720815038-4b8a386f85df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
$img5: url("https://images.unsplash.com/photo-1623135802537-fcca5cdf43d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
$img6: url("https://images.unsplash.com/photo-1626049789315-2d5f1b656454?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=357&q=80");
$img7: url("https://images.unsplash.com/photo-1622730000579-e6bde344d6a4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
$img8: url("https://images.unsplash.com/photo-1622730000579-e6bde344d6a4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
$img9: url("https://images.unsplash.com/photo-1626638940365-d4c6d7ca9752?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80fg");

// ===================
// General styles
// ===================

* {
    box-sizing: border-box;
}

body {
    background: $body-background;
    color: $main-font-color;
    font-family: $sans-serif;
    font-size: 1.2rem;
    line-height: 1.45;
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 5%;
    flex: 1 1 80%;
    min-height: 100vh;
}

.portfolio {
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 80vmin;
    display: grid;
    height: 80vmin;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.zero-grid {
    display: block;
}

.portfolio-item {
    background: $accent;
    color: $body-background;
    font-size: 1.5em;
    font-weight: $font-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;  
    &.medium {
        grid-row: span 2;
        grid-column: span 2;
    }
    &.large {
        grid-row: span 3;
        grid-column: span 3;
    }
    &.tall {
        grid-row: span 3;
        grid-column: span 2;
    }
    &.wide {
        grid-row: span 2;
        grid-column: span 3;
    }
    &.full-size {
        // grid-row: span 6;
        // grid-column: span 5;
        // position: absolute;
        z-index: 99;
        width:auto;
        height:100% ;
        // transition: width 0.3s, height 0.3s;
        transition: all 3s;
    }
    &.zero-size {
        font-size: 0;
        // width: 0px;
        // height: 0px;
        transform: scale(0);
        transition: transform ease-in-out 300ms;
    }
    // background: url(//unsplash.it/600/600);
    color: $light-gray;
    background-size: cover;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    z-index: 10;

    &.portfolio_item_before::before {
        content: "";
        display: block;
        background: black;
        position: absolute;
        opacity: 0.8;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transition: all ease-in-out 300ms;
        z-index: -1;
    }
    &.portfolio_item_before:hover::before {
        opacity: 0.2;
    }
}

.portfolio_button {
    font-weight: 900;
    cursor: pointer;
    width: 80vmin;
    text-align: center;
    border: 1px solid white;
    letter-spacing: 0.4rem;
}

.main_container_horizontal {
    flex-direction: row;
}

.vertical_button {
    width: 2rem;
    height: 80vmin;
    // text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-right: 0.1rem;
    letter-spacing: normal;
}
